body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  font-size:20px;
  text-align: center;
  background-color: darkmagenta;
}

div.caja{ /*    Cajita rosa        */
    font-family: Arial, Helvetica, sans-serif;
    background-color: pink;
	height: 300px;
	width: 600px;
	margin: 60px auto;
    padding: 2.5% 5% 10% 5%; /*2.5% para que no tenga tanto espacio comparado con abajo*/
	flex-direction: column;
	text-align: center;
	justify-content: center;
    border-radius: 20px;
}

img{
    margin: 10px 0 10px;
    width: 200px;
}